body{
    background-color: #cccccc;
}
header{
   color: #ffffff;
   text-align: center;
   padding: 1%;
   
   background-repeat: no-repeat;
   background-size: 100%
}
header a{
   font-size: 100%;
   text-decoration: none;
   padding: 1%;
   color: #ffffff;
   display: inline-block;
   border-radius: 5px;
   background-color: rgba(192,192,192,0.3);
   margin-left: 15px;
   

}
a:hover{
   background-color: rgba(15, 85, 216, 0.5);
  }
h1{
   font-size: 200%;
   text-transform: uppercase;
   padding: 2%;
}
h2{
   
   padding: 1%;
}
div{
   font-size: 400%;
   font-weight: 900;
   color: #ffffff;
   text-align: center;
   padding-left: 31%;
   padding-right: 31%;
   padding-top: 10%;
   
}
button{
   background-color: rgba(15, 85, 216, 0.5); 
   border: #ffffff;
   border: 2px solid black;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   float: center;  
   border-radius: 5px;
}
button:hover{
   color: #ffffff;
   background-color: rgba(192,192,192,0.3);
   color: black;
}
.left{
   text-transform: uppercase;
   float: left;
   font-weight: 1000;
   font-size: 30px;
   
}   

.right{
   float: right;
   margin-left: 15px;
   
}
